.form-control {  
  border: none !important;
}

.SearchBar-input {
  margin: 0 auto 50px auto;
  width: 40% !important;
  background-color: black !important;
  border-bottom: solid 1px white !important;
}

input, select, textarea{
  color: white !important;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .SearchBar-input {
    width: 90% !important;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
  .SearchBar-input {
    width: 40% !important;
  }
}